{{!
    @template core/signup_form_layout

    Example context (json):
    {
        "logourl": "https://moodle.org/logo/moodle-logo.svg",
        "sitename": "Site name",
        "formhtml": "<p>(Form html would go here)</p>"
    }
}}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="page-brand-info">
            {{#loginpage_context}}
            {{^logopos}}
                {{#logourl}}
                    <h2 class="card-header bg-transparent mb-3" ><img src="{{logourl}}" class="img-fluid" title="{{sitename}}" alt="{{sitename}}"/></h2>
                {{/logourl}}
                {{^logourl}}
                    <h2 class="card-header bg-transparent mb-3"><i class="fa fa-{{siteicon}}"></i> {{sitename}}</h2>
                {{/logourl}}
            {{/logopos}}
            
            {{/loginpage_context}}
            {{#sitedesc}}
                <p class="font-size-20 site-desc">{{{sitedesc}}}</p>
            {{/sitedesc}}
            {{^sitedesc}}
                {{#hasinstructions}}
                    <p class="font-size-20 instructions">{{{instructions}}}</p>
                {{/hasinstructions}}
            {{/sitedesc}}
        </div>
        <div class="p-0 signupform">
            <div class="card">
                <div class="card-block p-5">
                    {{#loginpage_context}}
                    {{#logopos}}
                        {{#logourl}}
                            <h2 class="card-header text-center bg-transparent mb-3 p-4" ><img src="{{logourl}}" class="img-fluid" title="{{sitename}}" alt="{{sitename}}"/></h2>
                        {{/logourl}}
                        {{^logourl}}
                            <h2 class="card-header text-center bg-transparent mb-3 p-4"><i class="fa fa-{{siteicon}}"></i> {{sitename}}</h2>
                        {{/logourl}}
                    {{/logopos}}
                    {{/loginpage_context}}
                    <div class="row col-md-12">
						<div class="col-md-6 card-body">
							{{#isteacher}}
								<div class="teacher">	
									<p>Become<br>
									a teacher process</p>
								</div>
								<div class="teacher_icon">
									<div class="floatLeft">
									<img src="https://allinschool.com/my/images/signup-icon.png"/>
									</div>
							 
									<h3 class="teacher_content"><b>Sign Up</b></h3>
									<p class="req">We request the teachers to create an account on <br>Allinschool by filling this Sign Up form.</p>
								</div><br>
								<div class="teacher_icon">
									<img src="https://allinschool.com/my/images/create-teacher-profile.png"/ class="floatLeft">
									
									<h3 class="teacher_content"><b>Create teacher profile</b></h3>
									<p class="req">After signing up, please fill in your profile details & submit it for screening & approval.</p>
								</div><br>
								<div class="teacher_icon">
									<img src="https://allinschool.com/my/images/teach-courses-icon.png"/ class="floatLeft">
									
									<h3 class="teacher_content"><b>Screening & approval</b></h3>
									<p class="req">Allinschool will conduct a small screening & approval process in order to maintain the teaching quality on Allinschool. For this, Allinschool will take up to 24 hours.</p>
								</div><br>
								<div class="teacher_icon">
									<img src="https://allinschool.com/my/images/teach-courses-icon.png"/ class="floatLeft">
									
									<h3 class="teacher_content"><b>Create & teach courses</b></h3>
									<p class="req">After the teacher profile & bio is approved, the teacher will be able to create, publish and teach courses on Allinschool.</p>
								</div><br>
							{{/isteacher}}
							{{^isteacher}}
								<div class="teacher">	
									<p>Become<br>
									a student process</p>
								</div>
								<div class="teacher_icon">
									<div class="floatLeft">
									<img src="https://allinschool.com/my/images/signup-icon.png"/>
									</div>
							 
									<h3 class="teacher_content"><b>Sign Up</b></h3>
									<p class="req">We request the students to create an account on <br>Allinschool by filling this Sign Up form.</p>
								</div><br>
								<div class="teacher_icon">
									<img src="https://allinschool.com/my/images/create-teacher-profile.png"/ class="floatLeft">
									
									<h3 class="teacher_content"><b>Enrol into a course</b></h3>
									<p class="req">After signing up, you can purchase courses of your choice. You only need to buy two weeks at a time to get started.</p>
								</div><br>
								<div class="teacher_icon">
									<img src="https://allinschool.com/my/images/teach-courses-icon.png"/ class="floatLeft">
									
									<h3 class="teacher_content"><b>Learn live from teachers</b></h3>
									<p class="req">Learn live from the best teachers online on Allinschool. Use Allinschool’s powerful course studio features to communicate, share and learn from the best.</p>
								</div><br>
								<div class="teacher_icon">
									<img src="https://allinschool.com/my/images/teach-courses-icon.png"/ class="floatLeft">
									
									<h3 class="teacher_content"><b>Renew with ease</b></h3>
									<p class="req">Keep renewing the weeks in your course, just two weeks or as many as you like at a time.</p>
								</div><br>
							{{/isteacher}}
						</div>
                    
						<div class="col-md-6 card-body" style="background-color: #f5f5f5;">
							<div class="card-title">
								<h3 class="font-size-24">{{#str}}signup, theme_remui{{/str}}</h3>
							</div>
							{{{formhtml}}}
						</div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#js}}
require(['theme_remui/loader'], function () {
    jQuery(document).ready(function(){
        jQuery('#page-login-signup label[for="id_recaptcha_element"]').parent().css({"width": "100%", "margin": "0 20px"});
    });
});
{{/js}}
