div.carousel-item{
    height: 43rem !important;
}
img.d-block{
    height: 43rem !important;
}

.loginform, .signupform {
	width: 55% !important;
}

 #page-login-signup .signupform .col-form-label {
 	display: block !important;
 }
 
@media screen and (max-width: 480px){
.navbar {
    background: #fff !important;
}
.navbar .navbar-brand {
    position: unset;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    transform: unset;
}
.navbar-light .nav-link, .navbar-light .navbar-nav .nav-link,.navbar .icon {
    color: rgba(0,0,0,.6) !important; 
}
#coursesearch {
    display: none;
}
}


