{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/columns2

    Admin time setting template.

    remui 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_remui/common_start }}

<section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}} aria-label="{{#str}}content{{/str}}">
    <div class="bg-transparent p-0">
        {{{ output.course_content_header }}}
        {{> theme_remui/coursefilters }}
        <div classs="cat_image">{{{catimage}}}</div>
        <div class="nav-tabs-horizontal courses-tabs" data-plugin="tabs">
            <ul class="nav nav-tabs nav nav-tabs nav-tabs-line" role="tablist">
                {{#tabcontent}}
                <li class="nav-item" role="presentation">
                    <a id="{{name}}tab" class="nav-link {{#isActive}}active show{{/isActive}} bg-transparent" data-toggle="tab" href="#{{name}}region" aria-controls="{{name}}region" role="tab" aria-selected="{{#isActive}}true{{/isActive}}{{^isActive}}false{{/isActive}}" tabindex="0">
                        {{text}}
                    </a>
                </li>
                {{/tabcontent}}
            </ul>
            <div class="tab-content mt-10 {{#latest_card}}latest-cards{{/latest_card}}">
                <div class="courses-loader-wrap w-100 h-100">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw" aria-hidden="true"></i>
                    </div>
                {{#tabcontent}}
                <div class="tab-pane {{#isActive}}active show{{/isActive}}" id="{{name}}region" role="tabpanel">
                    <div class="row content">
                    </div>
                    <div class="pagination" id="{{name}}pagination"></div>
                </div>
                {{/tabcontent}}
            </div>
        </div>

        <div class="hidden">
            {{{ output.main_content }}}
        </div>
        {{{ output.activity_navigation }}}
        {{{ output.course_content_footer }}}
    </div> 
</section>

{{> theme_remui/common_end }}
{{#js}}
require(['theme_remui/loader',  'theme_remui/coursecategory'], function (l, c) {
    Breakpoints();
});
{{/js}}
