{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/flat_navigation

    Display the flat navigation for the remui theme

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * flatnavigation - array of flat_navigation_nodes
      * showdivider - boolean
      * action - string
      * isactive - boolean
      * get_indent - integer
      * is_section - boolean
      * text - HTML

    Example context (json):
    {
        "flatnavigation" : [
            {
                "showdivider": false,
                "action": "#",
                "isactive": true,
                "get_indent": 1,
                "is_section": false,
                "text": "First"
            },{
                "showdivider": true,
                "action": "#",
                "isactive": false,
                "get_indent": 0,
                "is_section": true,
                "text": "Last &amp; Second"
            }
        ]
    }
}}
<nav class="list-group" aria-label="{{firstcollectionlabel}}">
{{# flatnavigation }}
    {{#showdivider}}
</nav>
<nav class="list-group border-top" aria-label="{{get_collectionlabel}}">
    {{/showdivider}}
    {{#show}}
    {{#action}}
    <a class="list-group-item list-group-item-action {{#isactive}}active{{/isactive}}" href="{{{action}}}" data-key="{{key}}" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" title="{{{text}}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}} aria-label="{{text}}">
        <div class="ml-{{get_indent}}">
            <div class="media">
            {{#icon.pix}}
                <span class="media-left">
                    {{#pix}}{{{icon.pix}}}, {{{icon.component}}}, {{{icon.alt}}}{{/pix}}
                </span>
            {{/icon.pix}}
                <span class="media-body">{{{text}}}</span>
            </div>
        </div>
    </a>
    {{/action}}
    {{/show}}
    {{#show}}
    {{^action}}
    {{#mycoursestab}}
        <a class="list-group-item list-group-item-action {{#isactive}}active{{/isactive}}" href="{{mycoursesurl}}" data-key="{{key}}" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" title="{{{text}}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}} aria-label="My Courses Link">
            <div class="ml-{{get_indent}}">
                <div class="media">
                {{#icon.pix}}
                    <span class="media-left">
                        {{#pix}}{{{icon.pix}}}, {{{icon.component}}}, {{{icon.alt}}}{{/pix}}
                    </span>
                {{/icon.pix}}
                    <div class="media-body justify-content-between align-items-center">
                        {{{text}}}
                        <span>
                            <i class="fa fa-angle-right align-items-center justify-content-center toggle-menu show" data-key="{{key}}" tabindex="0" aria-label="{{#str}}accordioncontrolmycourses, theme_remui{{/str}}" aria-controls="mycoursessubmenu" aria-expanded="false" role="button"></i>
                        </span>
                    </div>
                </div>
            </div>
        </a>

        <div id="mycoursessubmenu" class="mycoursesubmenu" data-parent-key="mycourses" role="menu" aria-label="My courses list">
            {{#mycourseschild}}
                 <a class="list-group-item list-group-item-action {{#isactive}}active{{/isactive}}" href="{{{action}}}" data-key="{{key}}" data-isexpandable="{{isexpandable}}" data-indent="1" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" title="{{{text}}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}} role="menuitem" tabindex="-1">
                    <div class="ml-1">
                        <div class="media">
                        {{#icon.pix}}
                            <span class="media-left">
                                {{#pix}}{{{icon.pix}}}, {{{icon.component}}}, {{{icon.alt}}}{{/pix}}
                            </span>
                        {{/icon.pix}}
                            <span class="media-body">{{{text}}}</span>
                        </div>
                    </div>
                </a>
            {{/mycourseschild}}
        </div>
    {{/mycoursestab}}
    {{^mycoursestab}}
        <div class="list-group-item" data-key="{{key}}" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" title="{{{text}}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}}>
            <div class="ml-{{get_indent}}">
                <div class="media">
                {{#icon.pix}}
                    <span class="media-left">
                        {{#pix}}{{{icon.pix}}}, {{{icon.component}}}, {{{icon.alt}}}{{/pix}}
                    </span>
                {{/icon.pix}}
                    <div class="media-body d-flex justify-content-between align-items-center">
                        {{{text}}}
                        <span>
                            <i class="fa fa-angle-down align-items-center justify-content-center toggle-menu" data-key="{{key}}" aria-hidden="true"></i>
                            <i class="fa fa-angle-right align-items-center justify-content-center toggle-menu show" data-key="{{key}}" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    {{/mycoursestab}}
    {{/action}}
    {{/show}}
    {{# cansignup }}
    <a class="list-group-item list-group-item-action" href="{{{config.wwwroot}}}/my/teacher-landing.php" data-key="forteacher" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" title="{{{text}}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}} aria-label="{{text}}">
        <div class="ml-{{get_indent}}">
            <div class="media">
            {{#icon.pix}}
                <span class="media-left">
                    <i class="icon fa fa-cog fa-fw " aria-hidden="true"></i>
                </span>
            {{/icon.pix}}
                <span class="media-body">For Teacher</span>
            </div>
        </div>
    </a>
    <a class="list-group-item list-group-item-action" href="{{{config.wwwroot}}}/local/businesssignup/index.php" data-key="forbusiness" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" title="{{{text}}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}} aria-label="{{text}}">
        <div class="ml-{{get_indent}}">
            <div class="media">
            {{#icon.pix}}
                <span class="media-left">
                    <i class="icon fa fa-cog fa-fw " aria-hidden="true"></i>
                </span>
            {{/icon.pix}}
                <span class="media-body">For Business</span>
            </div>
        </div>
    </a>
    <a class="list-group-item list-group-item-action" href="{{{config.wwwroot}}}/my/livecourses.php" data-key="forbusiness" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" title="{{{text}}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}} aria-label="{{text}}">
        <div class="ml-{{get_indent}}">
            <div class="media">
            {{#icon.pix}}
                <span class="media-left">
                    <i class="icon fa fa-cog fa-fw " aria-hidden="true"></i>
                </span>
            {{/icon.pix}}
                <span class="media-body">Real Time Courses</span>
            </div>
        </div>
    </a>
    <a class="list-group-item list-group-item-action" href="{{{config.wwwroot}}}/my/ondemand.php" data-key="forbusiness" data-isexpandable="{{isexpandable}}" data-indent="{{get_indent}}" data-showdivider="{{showdivider}}" data-type="{{type}}" data-nodetype="{{nodetype}}" data-collapse="{{collapse}}" data-forceopen="{{forceopen}}" data-isactive="{{isactive}}" data-hidden="{{hidden}}" title="{{{text}}}" data-preceedwithhr="{{preceedwithhr}}" {{#parent.key}}data-parent-key="{{.}}"{{/parent.key}} aria-label="{{text}}">
        <div class="ml-{{get_indent}}">
            <div class="media">
            {{#icon.pix}}
                <span class="media-left">
                    <i class="icon fa fa-cog fa-fw " aria-hidden="true"></i>
                </span>
            {{/icon.pix}}
                <span class="media-body">On Demand Courses</span>
            </div>
        </div>
    </a>
{{/ cansignup }}
{{/ flatnavigation }}
</nav>
