{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page navbar.
}}
<nav class="fixed-top navbar navbar-light {{#navbarinverse}}nav-inverse{{/navbarinverse}}  navbar-expand moodle-has-zindex p-0 greedy" aria-label="{{#str}}sitemenubar, admin{{/str}}">
    <div class="navbar-brand navbar-brand-center p-0 m-0 h-100">
        {{# output.should_display_logo }}
        {{# isiconsitename }}
            <a class="text-white d-flex align-items-center justify-content-center h-100 w-full text-decoration-none" href="{{{ config.wwwroot }}}" aria-label="{{ sitename }} - {{#str}}brandname, theme_remui{{/str}}">
                <span class="navbar-brand-logo mini"><i class="fa fa-{{siteicon}}"></i></span>
                <span class="navbar-brand-logo font-weight-bold">
                    <i class="fa fa-{{siteicon}}"></i>&nbsp;
                    {{{ sitename }}}
                </span>
            </a>
        {{/ isiconsitename }}

        {{# islogo }}
            <a class="text-white d-flex align-items-center justify-content-center h-100 w-full text-decoration-none" href="{{{ config.wwwroot }}}" aria-label="{{#str}}brandlogo, theme_remui{{/str}}">
                <span class="navbar-brand-logo mini" style="background-image: url({{ logominiurl }});
                    background-position: center; background-size: contain; background-repeat: no-repeat;"></span>
                <span class="navbar-brand-logo" style="background-image: url({{ logourl }});
                    background-position: center; background-size: contain; background-repeat: no-repeat;">
                </span>
            </a>
        {{/ islogo }}
        {{/ output.should_display_logo }}
    </div>
    <div data-region="drawer-toggle" class="d-inline-block m-0 h-100">
        <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left  bg-transparent" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
    </div>
    <div class="nav-item" id="toggleFullscreen" title="{{#str}}togglefullscreen, theme_remui{{/str}}">
        <a class="nav-link icon m-0 px-3" data-toggle="fullscreen" href="#" role="button" aria-label="{{#str}}togglefullscreen, theme_remui{{/str}}" >
            {{! Expand Icon SVG }}
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="expand" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-expand fa-w-14 fa-3x"><path fill="currentColor" d="M0 180V56c0-13.3 10.7-24 24-24h124c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H64v84c0 6.6-5.4 12-12 12H12c-6.6 0-12-5.4-12-12zM288 44v40c0 6.6 5.4 12 12 12h84v84c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12V56c0-13.3-10.7-24-24-24H300c-6.6 0-12 5.4-12 12zm148 276h-40c-6.6 0-12 5.4-12 12v84h-84c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h124c13.3 0 24-10.7 24-24V332c0-6.6-5.4-12-12-12zM160 468v-40c0-6.6-5.4-12-12-12H64v-84c0-6.6-5.4-12-12-12H12c-6.6 0-12 5.4-12 12v124c0 13.3 10.7 24 24 24h124c6.6 0 12-5.4 12-12z" class=""></path></svg>
            {{! Collapse Icon SVG }}
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="compress" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-compress fa-w-14 fa-3x"><path fill="currentColor" d="M436 192H312c-13.3 0-24-10.7-24-24V44c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v84h84c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm-276-24V44c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v84H12c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h124c13.3 0 24-10.7 24-24zm0 300V344c0-13.3-10.7-24-24-24H12c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h84v84c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-84h84c6.6 0 12-5.4 12-12v-40c0-6.6-5.4-12-12-12H312c-13.3 0-24 10.7-24 24v124c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12z" class=""></path></svg>
        </a>
    </div>

    {{#hasrecent}}
        <div class="nav-item dropdown outer d-none" id="recentCourses">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" data-animation="scale-up" aria-expanded="true" role="button">{{#str}}recent, theme_remui{{/str}}</a>
            <div class="dropdown-menu" role="menu">
                {{#recentcourses}}
                <a class="dropdown-item" role="menuitem" href="{{{ config.wwwroot }}}/course/view.php?id={{{id}}}">{{{fullname}}}</a>
                {{/recentcourses}}
            </div>
        </div>
    {{/hasrecent}}
    <div class="">


<ul class="navbar-nav">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">  Categories  </a>
	    <ul class="dropdown-menu">
		  {{{ output.custom_multilevel_menu }}}
	    </ul>
	</li>
</ul>

  </div> <!-- navbar-collapse.// -->


</div><!-- container //  -->

<form action="{{{ config.wwwroot }}}/course/search.php" id="coursesearch" method="get" class="form-inline">
    <div class="input-group mb-3-clear coursesearchbox " id="yui_3_17_2_1_1602082676406_20">
        <input id="coursesearchbox" type="text" name="q" size="30" value="" class="form-control" aria-labelledby="searchbtn" placeholder="Search courses">
        <input name="areaids" type="hidden" value="core_course-course">
        <div class="input-group-append">
            <button class="input-group-text bg-primary text-white rounded" aria-label="Search courses"><i class="fa fa-search"></i></button>
            <a class="btn btn-link p-0" role="button" data-container="body" data-toggle="popover" data-placement="right" data-content="<div class=&quot;no-overflow&quot;><p>You can search for multiple words at once and can refine your search as follows:</p>

            <ul><li>word - find any match of this word within the text</li>
            <li>+word - only exact matching words will be found</li>
            <li>-word - don't include results containing this word.</li>
            </ul></div> " data-html="true" tabindex="0" data-trigger="focus">
              
            </a>
        </div>
    </div>
</form> 
    <ul class="navbar-nav h-100 wdm-custom-menus links">
        {{#hasrecent}}
            <li class="dropdown nav-item" id="recentCoursesInner" >
                <a class="dropdown-toggle nav-link" id="drop-down-{{uniqid}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" title="Recent Courses" aria-label="Recent Course" aria-controls="drop-down-menu-{{uniqid}}">
                    {{#str}}recent, theme_remui{{/str}}
                </a>
                <div class="dropdown-menu" role="menu" id="drop-down-menu-{{uniqid}}" aria-labelledby="drop-down-{{uniqid}}">
                    {{#recentcourses}}
                    <a class="dropdown-item" role="menuitem" href="{{{ config.wwwroot }}}/course/view.php?id={{{id}}}">{{{fullname}}}</a>
                    {{/recentcourses}}
                </div>
            </li>
        {{/hasrecent}}
        <!-- custom_menu -->
        {{{ output.custom_menu }}}
        
        <!-- page_heading_menu -->
        {{{ output.page_heading_menu }}}
        
    </ul>


    <!--<div class="input-group" style="width:15%">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" data-region="search-input">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" data-action="search" aria-label="Search">
                <span data-region="search-icon-container">
                    <i class="icon fa fa-search fa-fw " aria-hidden="true"></i>
                </span>
                <span class="hidden" data-region="loading-icon-container">
                    <span class="loading-icon icon-no-margin"><i class="icon fa fa-circle-o-notch fa-spin fa-fw " title="Loading" aria-label="Loading"></i></span>
                </span>
            </button>
        </div>
    </div>-->

    
	<!-- collapsible menu -->
    <button class="menu-toggle"><span><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span></button>
    <ul class='hidden-links hidden'></ul>

    <!-- login menu toggler on mobile -->
    <button type="button" class="navbar-toggler">
        <i class="icon fa fa-ellipsis-v" aria-hidden="true"></i>
    </button>
    {{# cansignup }}
        <div class="col-md-1"><a href="{{{ config.wwwroot }}}/my/teacher-landing.php" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Turn what you know into an opportunity and reach millions around the world.<button class='btn btn-primary'>Learn More</button>">For Teacher</a></div>
        
        <div class="col-md-1"><a href="{{{ config.wwwroot }}}/local/businesssignup/index.php" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="Get your team access to over 5,000 top Allinschool courses, anytime, anywhere.<button class='btn btn-primary'>Try Allinschool for business</button>">For Business</a></div>
        
        
        
    {{/ cansignup }}
    <ul class="nav navbar-nav ml-auto mr-2 h-100 right-menu justify-content-end">
        
        {{{ output.search_box }}}

        <!-- navbar_plugin_output : 'message', 'notifications' and 'chat sidebar' toggles -->
        <li class="nav-item">
        {{{ output.navbar_plugin_output }}}
        </li>
        <!-- user_menu -->
        <li class="nav-item d-flex align-items-center">
            {{{ output.user_menu }}}
        </li>
        {{# cansignup }}
        <li class="nav-item d-flex align-items-center">
            <a class="btn btn-primary" href="{{signupurl}}" class="nav-link"><i class="icon fa fa-user-plus"></i> {{#str}}startsignup{{/str}}</a>
        </li>
        {{/ cansignup }}
    </ul>
    <!-- search_box -->
</nav>
{{{ output.show_license_notice }}}

