{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_remui/admin_setting_tabs


    Example context (json):
    {
        "tabs": [
         {
            "name": "tab1",
            "active": 0,
            "displayname": "Inactive tab1",
            "html": "<p>Tab 1 content</p>"
         },
         {
            "name": "tab2",
            "active": 1,
            "displayname": "Active tab2",
            "html": "<p>Tab 2 content</p>"
         }
        ]
    }
}}
<ul class="nav nav-tabs nav-tabs-line" role="tablist">
    {{#tabs}}
        <li class="nav-item">
            <a href="#{{name}}" class="nav-link {{#active}}active{{/active}} {{ customclass }}" data-toggle="tab" role="tab">{{displayname}}</a>
        </li>
        {{#active}}
            {{#js}}
                jQuery(document).ready(function() {
                    jQuery('a[href="#{{name}}"]').trigger('click');
                });
            {{/js}}
        {{/active}}
    {{/tabs}}
</ul>
<div class="tab-content mt-10">
    {{#tabs}}
        <div class="tab-pane {{#active}}active{{/active}}" id="{{name}}" role="tabpanel">
            {{{html}}}
        </div>
    {{/tabs}}
</div>

{{#js}}
    require([], function () {
        jQuery('body').on('click', '.edwiserformtab', function (e) {
          if(jQuery(this).hasClass('edwiserformtab-own')) {
            jQuery('.form-buttons').hide();
          } else {
            jQuery('.form-buttons').show();
          }
        });
    });
{{/js}}
