<div class='dt-buttons efb-actions'>
    <select class='form-control efb-action' id="efb-bulk-actions">
        <option value="bulkaction">{{#str}} bulkactions, core {{/str}}</option>
        <option value="delete">{{#str}} delete, core {{/str}}</option>
    </select>
    <button class="btn btn-primary efb-action" id="efb-apply-actions" type="button">{{#str}} apply, local_edwiserform {{/str}}</button>
    <a class="btn btn-primary" {{^license}}target="_black" href="{{wwwroot}}/local/edwiserform/export.php?id={{formid}}&action=data&type=csv"{{/license}}>{{#str}} exportcsv, local_edwiserform, {{license}} {{/str}}</a>
    <a class="btn btn-primary" {{^license}}target="_black" href="{{wwwroot}}/local/edwiserform/export.php?id={{formid}}&action=data&type=xlsx"{{/license}}>{{#str}} exportxlsx, local_edwiserform, {{license}} {{/str}}</a>
</div>
