 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
<div class="efb-forms-setup ">
    <div class="efb-forms-setup-title">
        {{panelsetup.heading}}
        <p class="efb-forms-setup-desc core">
            {{panelsetup.msg_select_tmpl}}
        </p>
    </div>

    <div id="efb-forms-setup-templates-core" class="efb-forms-setup-templates">
        <div class="efb-list">
            {{#panelsetup.list}}
                <div class="template {{#active}}active{{/active}}" id="template-{{tmpl_id}}">
                    <div class="template-name">
                        {{tmpl_name}}
                        <label class="template-active btn btn-primary m-0">{{#str}} active, local_edwiserform {{/str}}</label>
                    </div>
                    <div class="template-details">
                        <p class="desc">{{desc}}</p>
                    </div>
                    <div class="template-overlay">
                        <a href="#" class="template-select btn btn-primary" {{#pro}}data-pro="true"{{/pro}} data-template-name="{{tmpl_name}}" data-template="{{tmpl_id}}">
                            {{tmpl_hover_txt}}
                        </a>
                        <i class="template-loading fa fa-gear fa-spin" aria-hidden="true"></i>
                    </div>
                </div>
            {{/panelsetup.list}}
        </div>
    </div>
</div>
