 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
<div class="efb-form-style-container">
    <div class="controls-toggle bg-primary"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    <ul class="efb-form-style-list">
        {{#styles}}
        <li class="efb-form-style btn btn-primary {{#active}}selected{{/active}}" data-form="{{id}}">
            <div class="efb-form-style-label">
                <label class="btn btn-primary">{{label}}</label>
            </div>
            <img src="{{url}}">
        </li>
        {{/styles}}
    </ul>
</div>
