<div class="{{$ button-class }}{{{content}}}{{/ button-class }} {{class}}">
	<a class='btn btn-primary efb-form-btn button-{{uniqid}}' {{#id}}id="{{id}}"{{/id}} href='{{url}}'>
	    <span class="icon-container">
	        <i class="fa fa-{{icon}}" aria-hidden="true"></i>
	    </span>
	    {{label}}
	</a>
</div>