 {{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
  }}
<div class="efb-wrap-list efb-wrap-list-form-data">
    <div class='efb-list-buttons text-right'>
        {{#pageactions}}
            {{< local_edwiserform/header-action-buttons}}
                    {{$ button-class }}efb-list-button{{/ button-class }}
                {{/ local_edwiserform/header-action-buttons}}
        {{/pageactions}}
    </div>
    <h2>{{heading}}</h2>
    {{#submissionnotsupport}}
        {{submissionnotsupport}}
    {{/submissionnotsupport}}
    {{^submissionnotsupport}}
        {{#nodata}}
            <h4>{{nodata}}</h4>
        {{/nodata}}
        {{^nodata}}
            <table id="efb-form-submissions" class="display efb-table efb-form-submissions-table" data-formid="{{formid}}">
                <thead>
                    <tr>
                        {{#headings}}
                            <th>{{{.}}}</th>
                        {{/headings}}
                    </tr>
                </thead>
                <tbody>
                    {{#norowsmsg}}
                        <tr>
                            <td colspan="6">{{norowsmsg}}</td>
                        </tr>
                    {{/norowsmsg}}
                </tbody>
            </table>
        {{/nodata}}
    {{/submissionnotsupport}}
</div>
